.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.order-img{
  width:12%;
  height:100%;
  border: 1px solid black;
}
.order-box{
  margin-bottom: 2.3%;
  border: 2px solid gray;
  width: 95%;
  z-index: 2;
}
.date{
  font-family:   'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.date span{
  font-weight: 600;
}
.dash-order h2{
  font-family:  'Rubik', sans-serif;
  text-transform: uppercase;
}
.inner-box{
  margin-left: 2%;
 
}
.inner-box p{
  position: relative;
  top:15%;
  margin: 5% 0%;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
}
.inner-box h4 {
  position: relative;
  top:5%;
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  margin: 8% 0%;
  margin-bottom: 12%;
}
.bill{
  font-family: 'Rubik', sans-serif;
  margin-top: -1%;
}

.bill span{
  color: green;
}

.dragon-img {
  width: 10%;
  height: 100%;
  position: relative; /* Or 'relative' depending on your layout needs */
  bottom: -1vh;
  /* top:16vh; */
  left: 30%;
  z-index: 1; /* Ensure this is relative to its stacking context */
}

.grateful {
  text-align: center;
  background-color: white;
  color: black;
  border: 2px solid gray; 
  padding: 2%;
  margin: 0% 3%;
  margin-top: -22vh;
  z-index: 2; /* Ensure this is higher than .dragon-img */
  position: relative; /* Ensure .grateful is positioned */
}

.end-img{
  width:90%;
  height:25%;
}
.black{
  background-color: black;
  color: white;
  position: relative;
  right:1%;
  width: 100%;
}
.black-div {
  background-color: black;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3.5% 0; /* Adjust padding as needed */
}

.black-div h2 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0; /* Remove default margins for precise centering */
}

.love {
  height: auto;
  width: 9%;
  position: relative;
  bottom: 13vh;
  left: 64%;
}

 /* .dash-order{
  background-color: white;
} */
/*
ul{
  z-index: -100;
} */

.title-hood{
  color: brown !important;
  font-size: 1.7rem !important;
  position: relative !important;
  bottom: 5vh !important;
  background-color: black !important;
  text-align: center !important;
}
.navbar{
  height: 12px;
  padding-bottom: 2vh !important;
}

.no-orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Full viewport height */
}

.no-orders p {
  background-color: #f0f0f0; /* Light grey background */
  padding: 120px 50px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(240, 22, 22, 0.1);
  font-size: 1.2em;
  color: #672222;
  font-weight: 600;
}


/*ADDRESS POP-UP*/

/* Add this CSS for the popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
}

.popup-content {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 95%;
  max-width: 550px;
  min-width: 300px;
  position: relative;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.popup-content label {
  display: block;
  margin: 7px 0;
  font-size: 15px;
  width: 90%;
}

.popup-content input {
  padding: 8px;
  margin-top: 3px;
  border-radius: 3px;
  border: 1px solid black;
}

.popup-content button {
  display: block;
  width: 30%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.popup-content button:hover {
  background-color: #0056b3;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 370px) and (max-width:700px){
  .dash-order{
    position: relative;
    top: 17vh;
  }
  .t-h{
    position: relative !important;
    bottom: -2vh !important;
  }
  .dragon-img{
    visibility: hidden;
  }
  .order-img{
     width: 52%;
  }
  .inner-box{
    height: 20%;
  }
  .love{
    visibility: hidden;
  }
}


@media (min-width: 700px) and (max-width:1300px){
  .dash-order{
    position: relative;
    top: 17vh;
    right:4%;
  }
  .t-h{
    position: relative !important;
    bottom: -5vh !important;
  }
  .dragon-img{
    visibility: hidden;
  }
  .order-img{
     width: 52%;
  }
  .inner-box{
    height: 20%;
  }
  .love{
    visibility: hidden;
  }
}